{% extends 'main.html' %}


{% block content %}

<section class="signin">
<main class="form-signin">
    <form method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% for f in form %}
      <div class="form-floating">
        {{ f }}
        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
        <div class="form-error">
          {{ f.errors }}
        </div>
      </div>
      {% endfor %}
     
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
    </form>
</main>
</section>

{% endblock %}
